@import "../../styles/variables.scss";
@import "../../styles/breackpoints.scss";

.main {
  width: 375px;
  background-color: inherit;

  @include desktop {
    position: relative;
    width: 1280px;
    height: 100vh;
  }

  .employee-list {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    padding: 0;

    .employee-item {
      list-style: none;
      display: flex;
      align-items: center;
      cursor: pointer;

      .employee-content {
        display: flex;
        justify-content: left;
        width: 100%;
      }

      .employee-photocontainer {
        width: 88px;
        height: 84px;
      }

      .employee-photo {
        margin-right: 16px;
        margin-top: 6px;
        margin-bottom: 6px;
        width: 72px;
        height: 72px;
        border-radius: 50%;
      }

      .employee-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        height: 72px;

        .employee-header {
          display: flex;
          align-items: center;
          gap: 10px;

          .employee-name {
            padding: 3px 0;
            margin: 0;
            height: 26px;
            font-size: 16px;
            line-height: 20px;
            color: $main-text-color;
          }

          .employee-tag {
            margin-left: 4px;
            font-size: 14px;
            line-height: 18px;
            color: $color-filterTabs-unActive;
          }
        }

        .employee-role {
          margin: 0;
          line-height: 16px;
          font-size: 13px;
          color: $employee-status-color;
        }
      }
    }
  }
}

.search-error {
  margin: 80px 16px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;

  @include desktop {
    margin: 0;
    width: 343px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.search-error img {
  width: 56px;
  height: 56px;
}

.search-titles {
  margin-top: 8px;
  min-height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-error h2 {
  margin: 0;
  height: 22px;
  font-size: 17px;
  line-height: 22px;
  font-weight: $semi-bold;
  color: $main-text-color;
}

.search-error span {
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: $regular;
  color: $color-filterTabs-unActive;
}
