@import "../../../../styles/variables.scss";

.header__sort-burger {
  display: flex;
  align-items: center;
}

.header__sort-burger-button {
  margin-right: 12px;
  padding: 0;
  display: flex;
  align-items: center;
  border: none;
  background-color: $background-input;
  cursor: pointer;
}

.header__sort-burger-icon {
  transition: filter 0.3s;
}

.header__sort-burger-button:hover .header__sort-burger-icon {
  filter: invert(31%) sepia(94%) saturate(6255%) hue-rotate(181deg) brightness(95%) contrast(112%);
}
