@import "../../../../styles/breackpoints.scss";
@import "../../../../styles/variables.scss";

.employee-card {
  text-decoration: none;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //padding: 6px;
  }

  &__name-container {
    display: flex;
    align-items: center;
  }

  &__avatar {
    height: 72px;
    width: 72px;
    border-radius: 50%;
  }

  &__title-box {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
  }

  &__name-tag {
    display: flex;
    align-items: center;
  }

  &__name {
    font-size: 16px;
    font-weight: $medium;
    line-height: 20px;
    color: $main-text-color;
  }

  &__tag {
    margin-left: 4px;
    font-size: 14px;
    font-weight: $medium;
    line-height: 18px;
    color: $color-filterTabs-unActive;
  }

  &__position {
    margin-top: 4px;
    font-size: 13px;
    font-weight: $regular;
    line-height: 16px;
    color: $employee-status-color;
    text-transform: capitalize;
  }

  &__birth-date {
    font-size: 14px;
    color: $main-text-color;
  }

  &__birth-date-container {
    display: flex;
    align-items: center;
    width: 328px;

    @include desktop {
      width: 1280px;
      padding: 0 24px;
    }
  }

  &__birth-date-line {
    height: 2px;
    width: 72px;
    background-color: $color-text-input-search;

    @include desktop {
      width: 588px;
    }
  }

  &__date-divider {
    display: flex;
    justify-content: center;
    margin: 0 12px;
    width: 160px;
    font-size: 15px;
    font-weight: $medium;
    line-height: 20px;
    color: $color-text-input-search;
  }
}
