@import "./styles/variables.scss";
@import "./styles/breackpoints.scss";

.page {
  margin: 0 auto;
  width: 375px;
  min-height: 100vh;
  background: $page-background-color;

  @include desktop {
    width: 1280px;
  }
}
