@import "../../styles/variables.scss";
@import "../../styles/breackpoints.scss";

.employees-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  height: calc(100vh - 140px);
}
