@import "../../styles/variables.scss";
@import "../../styles/breackpoints.scss";

.employees-list {
  padding: 16px 16px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-height: calc(100vh - 140px);

  &__year {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;

    @include desktop {
      margin-left: 24px;
      width: 1200px;
    }
  }

  &__number {
    margin-left: 12px;
    margin-right: 12px;
    font-size: 15px;
    font-weight: $medium;
    line-height: 20px;
    color: $color-text-input-search;
  }

  &__line {
    width: 72px;
    height: 2px;
    border: none;
    background-color: $color-text-input-search;

    @include desktop {
      width: 520px;
    }
  }
}

.age {
  display: flex;
  align-items: center;

  &__line {
    width: 72px;
    height: 1px;
    background-color: $color-text-input-search;

    @include desktop {
      width: 620px;
    }
  }

  &__title {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 160px;
    font-size: 15px;
    font-weight: $medium;
    line-height: 20px;
    color: $color-text-input-search;
  }
}
