@import "./variables.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  font-family: "Inter", sans-serif;
  color: $main-text-color;
  background-color: $background-body-color;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}
