@import "../../../../styles/variables.scss";
@import "../../../../styles/breackpoints.scss";

.header-filter__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-left: 16px;
  margin-right: 0;
  margin-top: 8px;
  margin-bottom: 0;
  width: 467px;
  list-style: none;
  overflow-x: auto;
}

.header-filter__list::-webkit-scrollbar {
  height: 0;
}

.header-filter__item {
  padding: 0;
  display: flex;
  flex-grow: 1;
  height: 36px;
}

.header__filter-item-button-active {
  border-bottom: solid $active-burger-color 1px;
  color: $color-filterTabs-active;
}

.header-filter__item-button {
  padding: 0;
  flex-grow: 1;
  height: 36px;
  font-size: 15px;
  line-height: 36px;
  color: $color-filterTabs-unActive;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
