@import "../../../../styles/variables.scss";
@import "../../../../styles/breackpoints.scss";

.header-filter {
  &__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 8px 0 0 16px;
    width: 467px;
    list-style: none;
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 0;
    }
  }

  &__item {
    display: flex;
    flex-grow: 1;
    padding: 0;
    height: 36px;
  }

  &__item-button {
    flex-grow: 1;
    height: 36px;
    font-size: 15px;
    line-height: 36px;
    color: $color-filterTabs-unActive;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    padding: 0;

    &:hover {
      color: $color-filterTabs-active;
    }
  }

  &__item-button-active {
    border-bottom: solid 1px $active-burger-color;
    color: $color-filterTabs-active;
  }
}
