@import "../../styles/variables.scss";
@import "../../styles/breackpoints.scss";

.profile {
  position: relative;
  height: 812px;

  &__arrow {
    position: absolute;
    top: 16px;
    left: 12px;
    width: 24px;
    height: 24px;
    padding: 6.75px 8.88px 6.71px 8.87px;
    cursor: pointer;

    @include desktop {
      top: 22px;
      left: 16px;
    }
  }

  &__arrow-img {
    width: 6.23px;
    height: 10.54px;
  }

  &__title {
    padding-bottom: 24px;
    height: 280px;
    width: 375px;
    background-color: $background-input;

    @include desktop {
      width: 1280px;
    }
  }

  &__title-avatar {
    margin: 0 auto;
    width: 104px;
    height: 104px;
    border-radius: 50%;
  }

  &__title-content {
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @include desktop {
      padding-top: 72px;
    }
  }

  &__name-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 56px;
  }

  &__title-box {
    margin: 0 auto;
    height: 28px;
  }

  &__title-name {
    margin: 0;
    display: inline;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    color: $main-text-color;
  }

  &__title-tag {
    margin-left: 4px;
    height: 22px;
    line-height: 22px;
    font-size: 17px;
    color: $color-filterTabs-unActive;
  }

  &__title-position {
    height: 16px;
    font-size: 13px;
    line-height: 16px;
    color: $employee-status-color;
  }

  &__info {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 126px;
  }

  &__info-date {
    padding-right: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  &__info-bd {
    position: relative;
    line-height: 20px;
    font-size: 16px;
    font-weight: $medium;
    color: $main-text-color;
  }

  &__info-age {
    line-height: 20px;
    font-size: 16px;
    color: $color-filterTabs-unActive;
  }

  &__info-phone {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 16px;
    font-weight: $medium;
    line-height: 20px;
    color: $main-text-color;
  }

  &__icon {
    margin-right: 14px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
  }

  &__collapse-line {
    position: fixed;
    bottom: 9px;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
    width: 134px;
    height: 5px;
    border-radius: 2px;
    background-color: $collapse-line;
    cursor: pointer;

    @include desktop {
      display: none;
    }
  }
}
