$background-body-color: #e5e5e5;
$main-text-color: #050510;

$page-background-color: #ffffff;

$active-burger-color: #6534ff;

$background-input: #f7f7f8;

$color-filterTabs-unActive: #97979b;
$color-filterTabs-active: #050510;

$color-text-input-search: #c3c3c6;

$employee-status-color: #55555c;
$collapse-line: #979797;

$semi-bold: 600;
$medium: 500;
$regular: 400;

$breakpoint-desktop: 1280px;
