@import "../../../../styles/variables.scss";

.header__search {
  position: relative;
  margin: 6px 12px 6px 20px;
  display: flex;
  justify-content: space-between;
  height: 40px;
  border-radius: 16px;
  background-color: $background-input;

  .header__search-container {
    margin-left: 12px;
    display: flex;
    align-items: center;
  }

  input.header__search-input {
    padding: 2px 0;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 8px;
    background-color: $background-input;
    border: none;
    outline: none;
  }

  .header__search-input::placeholder {
    font-size: 15px;
    line-height: 20px;
    color: $color-text-input-search;
  }

  .header__search-icon {
    width: 20px;
    height: 20px;
  }
}
