@import "../../styles/variables.scss";
@import "./../../styles/breackpoints.scss";

.header {
  &__icons-bar {
    margin-right: 14.5px;
    margin-left: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;

    &--profile {
      background-color: $background-input;
    }

    @include desktop {
      display: none;
    }
  }

  &__icons {
    width: 67px;
    display: flex;
    justify-content: space-between;
  }

  &__desktop-content {
    display: none;
    @include desktop {
      display: block;
      padding-left: 24px;
      padding-top: 8px;
      padding-bottom: 12px;
      height: 48px;
      font-size: 24px;
      font-weight: bold;
      line-height: 28px;
    }
  }

  &__network-error {
    position: absolute;
    position: fixed;
    bottom: 40px;
    margin-left: 16px;
    width: 343px;
    height: 64px;
    background-color: $error-network-background;
    border-radius: 10px;
    z-index: 2;

    @include desktop {
      display: none;
    }
  }

  &__network-error p {
    margin: 11px 16px;
    line-height: 18px;
    font-size: 14px;
    font-weight: $regular;
    color: $page-background-color;
  }
}

.header__line {
  border-bottom: solid $color-text-input-search 1px;
  width: 375px;

  @include desktop {
    width: 1280px;
  }
}
