@import "./styles/variables.scss";
@import "./styles/breackpoints.scss";

.page {
  position: relative;
  margin: 0 auto;
  width: 375px;
  min-height: 100vh;
  background-color: $page-background-color;
  overflow-x: hidden;

  @include desktop {
    width: 1280px;
  }
}

.page--modal-open {
  @include desktop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    z-index: 10;
  }
}
